
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: 'Roboto', sans-serif;">
    <!-- START HEADER/BANNER -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <tbody>
            <tr>
                <td align="center">
                    <table class="" width="800" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="center" valign="top"  style="background-size:cover; background-position:top; background:rgb(254,245,240
                                  )">
                                    <table class="" width="800" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="40"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="line-height: 0px;">
                                                    <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://69.62.84.25:10017/extalk.png" width="140" height="" alt="logo">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table class="" width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #ECECEC;">
                        <tbody>
                            <tr>
                                <td height="35"></td>
                            </tr>
                            <tr>
                                <td height="35"></td>
                            </tr>
                            <tr>
                                <td height="35"></td>
                            </tr>
                            <tr>
                                <td height="35"></td>
                            </tr>
                            <tr>
                                <td align="left" style="padding: 0 40px;">
                                    <p style="font-size:20px; color:#000000; line-height:24px; font-weight: 500; text-align: center;">  ExTalk invite </p>
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;"> Dear <%=name%></p>
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                        <%=message%>

                                          
                                    </p>
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                    <b>Email:</b><%=username%> <br> <b>Password:</b><%=password%><br>
                                    </p>
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                        &#128274 <b>Important:</b> DO NOT share your password with anyone. For security, ensure your ExTalk account password is unique and different from other accounts.  
                                    </p>
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                      <b>How to Access Your Account:</b>  
                                    </p>
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                       You have two options to log in: 
                                    </p>
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                        &#x31;&#xfe0f;&#x20e3;<b>On Mobile (Recommended)</b> - Download the ExTalk app:
                                    </p>
                                    <ol>
                                      <ul>
                                        &#128241;<a href="https://play.google.com/store/apps/details?id=us.csic.cpscomc.ios&pcampaignid=web_share"><b>Download for Android</b></a> 
                                      </ul>
                                      <ul>
                                        &#127823;<a href="https://apps.apple.com/in/app/cpscom/id6458591856"><b>Download for ios</b></a> 
                                      </ul>
                                    </ol>
                                    
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                        &#x32;&#xfe0f;&#x20e3;<b>On PC</b> - Use your browser to log in:
                                    </p>
                                    <ol>
                                      <ul>
                                        &#128279;<a href="https://cu-app.us/"><b>Login via Web</b></a> 
                                      </ul>
                                    </ol>
                                    
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                      If you have any questions or need assistance, feel free to reach out.   
                                    </p>
                                    
                                    <p style="font-size:16px; color:#313131; line-height:24px; font-weight: 500;">
                                      Best Regards, </br> 
                                      <b>ExTalk Team</b>
                                    </p>
                                    
                                    
                                  
                                </td>
                            </tr>
                            <tr>
                                <td height="35"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            
    <!-- END FOOTER -->		
                        
        </tbody>
    </table>